<div class="footer">
  <a href="/langauges/en">en</a>
  <a href="/langauges/fr">fr</a>
  <a href="/langauges/ja">ja</a>
  <a href="/langauges/ko">ko</a>
  <a href="/langauges/es">es</a>
  <a href="/langauges/so">so</a>
</div>